#el_fierro {
	background-image: url(../images/games_thumb/el-fierro_THUMB.png);
	background-size: cover;
}

#bubblegum_wireless {
	background-image: url(../images/games_thumb/bubblegumwireless_THUMB.png);
	background-size: cover;
}